# Entorno virtual
virtual-env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# Jupyter
.ipynb_checkpoints/

# Datos sensibles (no versionar)
*.xlsx
*.xls
*.csv
*.pdf

# PyInstaller
build/
dist/
*.spec
*.exe

google_credentials.json
.logs/
*.log
*.jiff
*.jfif